html {
  font-family: $open-sans;
  color: $sandal;
  font-size: 10px;
  background-color: $rose-white;
}

h1,
h2 {
  color: $masala;
  font-weight: $extra-bold;
}

h1 {
  font-size: 5rem;
  line-height: 1.2em;
  @include mx1200 {
    font-size: 4.5rem;
  }
  @include mx980 {
    font-size: 2.2rem;
  }
}


h2 {
  font-size: 4rem;
  @include mx980 {
    font-size: 1.9rem;
  }
}

h4 {
  color: $masala;
  font-size: 2rem;
  @include mx980 {
    font-size: 1.4rem;
  }
}
