html {
  font-family: $open-sans;
  color: $sandal;
  font-size: 10px;
  background-color: $rose-white;
}

h1 {
  font-size: 5rem;
  color: $masala;
  line-height: 1.2em;
  font-weight: $extra-bold;
  @include mx1200 {
    font-size: 4.5rem;
  }
  @include mx980 {
    font-size: 2.2rem;
  }
}
