//color
$almond: #edd3c1;
$almond-frost: #a18b81;
$linen: #fcf4ef;
$champagne: #faead8;
$parchment: #f2e4d6;
$woodland: #3c562c;
$masala: #443636;
$pale-oyster: #998c7a;
$tan-hide: #f6914e;
$sandal: #a7836d;
$rose-white: #fefaf8;
$black: #000;
$white: #fff;

//font-family
$open-sans: 'Open Sans', sans-serif;

//font-weight
$extra-bold: 800;
$bold: 700;
$semibold: 600;
$medium: 500;
$regular: 400;
$light: 300;
