.banner {
  position: relative;
  width: 100%;
  height: 131.5rem;
  background-color: $almond;
  font-size: 0;
  overflow: hidden;
  background: {
    image: url('/img/homepage/homepage-bg.jpg');
    size: cover;
    position: center;
    repeat: no-repeat;
  }
  @include mx980 {
    height: 70rem;
    background: {
      image: url('/img/homepage/homepage-bg-sp.jpg');
      size: cover;
      position: bottom;
      repeat: no-repeat;
    }
  }

  &__wave {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 0 0 6% 12.5rem;
    z-index: 1;
    @include mx1200 {
      padding-left: 5%;
    }
    @include mx980 {
      align-items: center;
      text-align: center;
      justify-content: flex-end;
      padding: 0 0 7.7rem;
    }
  }

  &__title {
    margin-bottom: 3.1rem;
    @include mx980 {
      margin-bottom: 1.5rem;
    }
  }

  &__text {
    display: block;
    font-size: 2.2rem;
    color: $pale-oyster;
    margin-bottom: 4.4rem;
    @include mx980 {
      font-size: 1.2rem;
      margin-bottom: 2.7rem;
    }
  }

  &__product {
    width: 32rem;
    margin-bottom: 3.4rem;
  }
}
