header.header.js-header
  .header__hamburger.sp.js-menu
    .header__hamburger-line
    .header__hamburger-line
    .header__hamburger-line
  a.header__logo(href="")
    img.header__logo-image(src="/img/homepage/logo.svg", alt="VERMA FARMS")
  nav.header__navigation
    .header__navigation-block
      a.header__link(href="") Shop
      a.header__link(href="") Our Story
      a.header__link(href="") Learn
    .header__navigation-block
      a.header__link(href="") Community
      a.header__link(href="") Block
  a.header__cart(href="") 1