footer.footer
  .footer__upper
    button.footer__back-top.js-back-top.pc BACK TO TOP
    img.footer__logo(src="/img/homepage/round-footer-logo.png", alt="Verma Icon")
    a.footer__shop-link(href="") Our Shop
  .footer__lower
    .footer__main-links
      a.footer__link(href="") Shop
      a.footer__link(href="") Our Story
      a.footer__link(href="") Learn
      a.footer__link(href="") Community
      a.footer__link(href="") Blog
      a.footer__link(href="") Cart
    a.footer__logo(href="")
      img.footer__logo-image(src="/img/homepage/logo.svg", alt="Verma Farms")
    .footer__sub-links
      a.footer__link.footer__link--sub(href="") Disclaimer
      a.footer__link.footer__link--sub(href="") Privacy Policy
      a.footer__link.footer__link--sub(href="") Terms and Conditions
      a.footer__link.footer__link--sub(href="") Site Credits