extends includes/layout.pug
block content
  .banner
    .banner__content
      img.banner__product.sp(src="/img/homepage/product-image.png", alt="Product Image")
      h1.banner__title Pure All Natural
        br
        | CBD Inspired by the
        br
        | Islands of Hawaii
      span.banner__text ZERO THC - all natural cannabidiol
      a.button.button--has-shadow(href="") Shop Now
    .banner__wave.js-banner-wave