extends includes/layout.pug
block content
  .banner
    .banner__content
      img.banner__product.sp(src="/img/homepage/product-image.png", alt="Product Image")
      h1.banner__title Pure All Natural
        br
        | CBD Inspired by the
        br
        | Islands of Hawaii
      span.banner__text ZERO THC - all natural cannabidiol
      a.button.button--has-shadow(href="") Shop Now
    .banner__wave.js-banner-wave
  section.product
    h2.top__title Our Products
    .product__slider-container
      .product__slider.js-product-slider
        .product__cell
          img.product__image(src="/img/products/hawaiian-rainbow.png", alt="Hawaiian Rainbow CBD Gummies")
          .product__content
            h4.product__title Hawaiian Rainbow CBD Gummies
            span.product__weight 10g CBD
            .product__description
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam, rhoncus auctor arcu, nec mollis tortor.
            span.product__price $39.99
            a.product__link(href="") VIEW
        .product__cell
          img.product__image(src="/img/products/hawaiian-rainbow.png", alt="Hawaiian Rainbow CBD Gummies")
          .product__content
            h4.product__title Hawaiian Rainbow CBD Gummies
            span.product__weight 10g CBD
            .product__description
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam, rhoncus auctor arcu, nec mollis tortor.
            span.product__price $39.99
            a.product__link(href="") VIEW
        .product__cell
          img.product__image(src="/img/products/hawaiian-rainbow.png", alt="Hawaiian Rainbow CBD Gummies")
          .product__content
            h4.product__title Hawaiian Rainbow CBD Gummies
            span.product__weight 10g CBD
            .product__description
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam, rhoncus auctor arcu, nec mollis tortor.
            span.product__price $39.99
            a.product__link(href="") VIEW
        .product__cell
          img.product__image(src="/img/products/hawaiian-rainbow.png", alt="Hawaiian Rainbow CBD Gummies")
          .product__content
            h4.product__title Hawaiian Rainbow CBD Gummies
            span.product__weight 10g CBD
            .product__description
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam, rhoncus auctor arcu, nec mollis tortor.
            span.product__price $39.99
            a.product__link(href="") VIEW
        .product__cell
          img.product__image(src="/img/products/hawaiian-rainbow.png", alt="Hawaiian Rainbow CBD Gummies")
          .product__content
            h4.product__title Hawaiian Rainbow CBD Gummies
            span.product__weight 10g CBD
            .product__description
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam, rhoncus auctor arcu, nec mollis tortor.
            span.product__price $39.99
            a.product__link(href="") VIEW
        .product__cell
          img.product__image(src="/img/products/hawaiian-rainbow.png", alt="Hawaiian Rainbow CBD Gummies")
          .product__content
            h4.product__title Hawaiian Rainbow CBD Gummies
            span.product__weight 10g CBD
            .product__description
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam, rhoncus auctor arcu, nec mollis tortor.
            span.product__price $39.99
            a.product__link(href="") VIEW
        .product__cell
          img.product__image(src="/img/products/hawaiian-rainbow.png", alt="Hawaiian Rainbow CBD Gummies")
          .product__content
            h4.product__title Hawaiian Rainbow CBD Gummies
            span.product__weight 10g CBD
            .product__description
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam, rhoncus auctor arcu, nec mollis tortor.
            span.product__price $39.99
            a.product__link(href="") VIEW
        .product__cell
          img.product__image(src="/img/products/hawaiian-rainbow.png", alt="Hawaiian Rainbow CBD Gummies")
          .product__content
            h4.product__title Hawaiian Rainbow CBD Gummies
            span.product__weight 10g CBD
            .product__description
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam, rhoncus auctor arcu, nec mollis tortor.
            span.product__price $39.99
            a.product__link(href="") VIEW
      .product__thumbnail.js-thumbnail-slider
        .product__thumbnail-cell
          .product__thumbnail-image-container
            img.product__thumbnail-image(src="/img/products/hawaiian-rainbow.png", alt="Hawaiian Rainbow CBD Gummies")
          h4.product__thumbnail-title Beary Beach CBD Gummies
        .product__thumbnail-cell
          .product__thumbnail-image-container
            img.product__thumbnail-image(src="/img/products/hawaiian-rainbow.png", alt="Hawaiian Rainbow CBD Gummies")
          h4.product__thumbnail-title Beary Beach CBD Gummies
        .product__thumbnail-cell
          .product__thumbnail-image-container
            img.product__thumbnail-image(src="/img/products/hawaiian-rainbow.png", alt="Hawaiian Rainbow CBD Gummies")
          h4.product__thumbnail-title Beary Beach CBD Gummies
        .product__thumbnail-cell
          .product__thumbnail-image-container
            img.product__thumbnail-image(src="/img/products/hawaiian-rainbow.png", alt="Hawaiian Rainbow CBD Gummies")
          h4.product__thumbnail-title Beary Beach CBD Gummies
        .product__thumbnail-cell
          .product__thumbnail-image-container
            img.product__thumbnail-image(src="/img/products/hawaiian-rainbow.png", alt="Hawaiian Rainbow CBD Gummies")
          h4.product__thumbnail-title Beary Beach CBD Gummies
        .product__thumbnail-cell
          .product__thumbnail-image-container
            img.product__thumbnail-image(src="/img/products/hawaiian-rainbow.png", alt="Hawaiian Rainbow CBD Gummies")
          h4.product__thumbnail-title Beary Beach CBD Gummies
        .product__thumbnail-cell
          .product__thumbnail-image-container
            img.product__thumbnail-image(src="/img/products/hawaiian-rainbow.png", alt="Hawaiian Rainbow CBD Gummies")
          h4.product__thumbnail-title Beary Beach CBD Gummies
        .product__thumbnail-cell
          .product__thumbnail-image-container
            img.product__thumbnail-image(src="/img/products/hawaiian-rainbow.png", alt="Hawaiian Rainbow CBD Gummies")
          h4.product__thumbnail-title Beary Beach CBD Gummies
    a.button.button--center(href="") ALL PRODUCTS
    .product__wave.js-banner-wave-2